/**
 * Oxygen icon theme for ovidentia.
 * 
 * @license http://opensource.org/licenses/gpl-license.php GNU General Public License (GPL)
 * @copyright Copyright (c) 2008 by CANTICO ({@link http://www.cantico.fr})
 */


.icon-left .icon:before {
    display: inline-block;
    white-space: nowrap;
    line-height: 1;
}

.icon-left-48 .icon, .icon-left-48 .icon:empty {
    min-width: 0;
    padding: 4px;
}
.icon-left-48 .icon:before {
    min-width: 60px;
}

.icon-left-32 .icon, .icon-left-32 .icon:empty {
    min-width: 0;
    padding: 4px;
}
.icon-left-32 .icon:before {
    min-width: 40px; 
}

.icon-left-24 .icon, .icon-left-24 .icon:empty {
    min-width: 0;
    padding: 4px;
}
.icon-left-24 .icon:before {
    min-width: 30px;
}

.icon-left-16 .icon, .icon-left-16 .icon:empty,
.icon-left-symbolic .icon, .icon-left-symbolic .icon:empty{
    min-width: 0;
    padding: 4px;
}
.icon-left-16 .icon:before,
.icon-left-symbolic .icon:before {
    min-width: 20px;
}


.icon-top-48 .icon {
    padding: 4px;
}
.icon-top-32 .icon {
    padding: 4px;
}
.icon-top-24 .icon {
    padding: 4px;
}
.icon-top-16 .icon,
.icon-top-symbolic .icon {
    padding: 4px;
}

.icon-48x48 .icon:before {
    width: 52px;
    height: 48px;
}
.icon-32x32 .icon:before {
    width: 32px;
    height: 32px;
}
.icon-24x24 .icon:before {
    width: 24px;
    height: 24px;
}
.icon-16x16 .icon:before,
.icon-symbolic .icon:before  {
    width: 16px;
    height: 16px;
}
.icon-top .icon:before {    
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.icon:before {
    content: "\00A0";
    text-align: center;
}

.icon-left .icon:before {
    vertical-align: middle;
}

 
.no-icon:before {
    content: "" !important;
}
.no-icon {
    background-image: none !important;
}

.no-icons .icon:before {
    content: "" !important;
}





/* @import url("48x48/icons.css"); */
.icon-48x48 .actions-archive-create:before { content: url("48x48/actions/archive-create.png"); }
.icon-48x48 .actions-archive-extract:before { content: url("48x48/actions/archive-extract.png"); }
.icon-48x48 .actions-arrow-down-double:before { content: url("48x48/actions/arrow-down-double.png"); }
.icon-48x48 .actions-arrow-down:before { content: url("48x48/actions/arrow-down.png"); }
.icon-48x48 .actions-arrow-left-double:before { content: url("48x48/actions/arrow-left-double.png"); }
.icon-48x48 .actions-arrow-left:before { content: url("48x48/actions/arrow-left.png"); }
.icon-48x48 .actions-arrow-right-double:before { content: url("48x48/actions/arrow-right-double.png"); }
.icon-48x48 .actions-arrow-right:before { content: url("48x48/actions/arrow-right.png"); }
.icon-48x48 .actions-arrow-up-double:before { content: url("48x48/actions/arrow-up-double.png"); }
.icon-48x48 .actions-arrow-up:before { content: url("48x48/actions/arrow-up.png"); }
.icon-48x48 .actions-context-menu:before { content: url("48x48/actions/format-justify-fill.png"); }
.icon-48x48 .actions-article-category-new:before { content: url("48x48/actions/article-category-new.png"); }
.icon-48x48 .actions-article-new:before { content: url("48x48/actions/article-new.png"); }
.icon-48x48 .actions-article-topic-new:before { content: url("48x48/actions/article-topic-new.png"); }
.icon-48x48 .actions-dialog-cancel:before { content: url("48x48/actions/dialog-cancel.png"); }
.icon-48x48 .actions-dialog-ok:before { content: url("48x48/actions/dialog-ok.png"); }
.icon-48x48 .actions-document-download:before { content: url("48x48/actions/document-download.png"); }
.icon-48x48 .actions-document-edit:before { content: url("48x48/actions/document-edit.png"); }
.icon-48x48 .actions-document-new:before { content: url("48x48/actions/document-new.png"); }
.icon-48x48 .actions-document-print:before { content: url("48x48/actions/document-print.png"); }
.icon-48x48 .actions-document-properties:before { content: url("48x48/actions/document-properties.png"); }
.icon-48x48 .actions-document-save:before { content: url("48x48/actions/document-save.png"); }
.icon-48x48 .actions-document-upload:before { content: url("48x48/actions/document-upload.png"); }
.icon-48x48 .actions-edit-copy:before { content: url("48x48/actions/edit-copy.png"); }
.icon-48x48 .actions-edit-cut:before { content: url("48x48/actions/edit-cut.png"); }
.icon-48x48 .actions-edit-delete:before { content: url("48x48/actions/edit-delete.png"); }
.icon-48x48 .actions-edit-find:before { content: url("48x48/actions/edit-find.png"); }
.icon-48x48 .actions-edit-find-user:before { content: url("48x48/actions/edit-find-user.png"); }
.icon-48x48 .actions-edit-paste:before { content: url("48x48/actions/edit-paste.png"); }
.icon-48x48 .actions-event-new:before { content: url("48x48/actions/event-new.png"); }
.icon-48x48 .actions-folder-new:before { content: url("48x48/actions/folder-new.png"); }
.icon-48x48 .actions-go-down:before { content: url("48x48/actions/go-down.png"); }
.icon-48x48 .actions-go-first:before { content: url("48x48/actions/go-first.png"); }
.icon-48x48 .actions-go-home:before { content: url("48x48/actions/go-home.png"); }
.icon-48x48 .actions-go-last:before { content: url("48x48/actions/go-last.png"); }
.icon-48x48 .actions-go-next:before { content: url("48x48/actions/go-next.png"); }
.icon-48x48 .actions-go-previous:before { content: url("48x48/actions/go-previous.png"); }
.icon-48x48 .actions-go-up:before { content: url("48x48/actions/go-up.png"); }
.icon-48x48 .actions-help:before       { content: url("48x48/actions/help.png"); }
.icon-48x48 .actions-list-add:before { content: url("48x48/actions/list-add.png"); }
.icon-48x48 .actions-list-add-user:before { content: url("48x48/actions/list-add-user.png"); }
.icon-48x48 .actions-list-remove:before { content: url("48x48/actions/list-remove.png"); }
.icon-48x48 .actions-list-remove-user:before { content: url("48x48/actions/list-remove-user.png"); }
.icon-48x48 .actions-mail-send:before { content: url("48x48/actions/mail-send.png"); }
.icon-48x48 .actions-note-new:before { content: url("48x48/actions/note-new.png"); }
.icon-48x48 .actions-set-access-rights:before { content: url("48x48/actions/set-access-rights.png"); }
.icon-48x48 .actions-user-group-delete:before { content: url("48x48/actions/user-group-delete.png"); }
.icon-48x48 .actions-user-group-new:before { content: url("48x48/actions/user-group-new.png"); }
.icon-48x48 .actions-user-group-properties:before { content: url("48x48/actions/user-group-properties.png"); }
.icon-48x48 .actions-user-new:before { content: url("48x48/actions/user-new.png"); }
.icon-48x48 .actions-user-properties:before { content: url("48x48/actions/user-properties.png"); }
.icon-48x48 .actions-view-calendar-day:before { content: url("48x48/actions/view-calendar-day.png"); }
.icon-48x48 .actions-view-calendar-list:before { content: url("48x48/actions/view-calendar-list.png"); }
.icon-48x48 .actions-view-calendar-month:before { content: url("48x48/actions/view-calendar-month.png"); }
.icon-48x48 .actions-view-calendar-timeline:before { content: url("48x48/actions/view-calendar-timeline.png"); }
.icon-48x48 .actions-view-calendar-week:before { content: url("48x48/actions/view-calendar-week.png"); }
.icon-48x48 .actions-view-calendar-workweek:before { content: url("48x48/actions/view-calendar-workweek.png"); }
.icon-48x48 .actions-view-history:before { content: url("48x48/actions/view-history.png"); }
.icon-48x48 .actions-view-list-details:before { content: url("48x48/actions/view-list-details.png"); }
.icon-48x48 .actions-view-list-text:before { content: url("48x48/actions/view-list-text.png"); }
.icon-48x48 .actions-view-list-tree:before { content: url("48x48/actions/view-list-tree.png"); }
.icon-48x48 .actions-view-pim-calendar:before { content: url("48x48/actions/view-pim-calendar.png"); }
.icon-48x48 .actions-view-pim-journal:before { content: url("48x48/actions/view-pim-journal.png"); }
.icon-48x48 .actions-view-pim-mail:before { content: url("48x48/actions/view-pim-mail.png"); }
.icon-48x48 .actions-view-pim-news:before { content: url("48x48/actions/view-pim-news.png"); }
.icon-48x48 .actions-view-pim-notes:before { content: url("48x48/actions/view-pim-notes.png"); }
.icon-48x48 .actions-view-pim-summary:before { content: url("48x48/actions/view-pim-summary.png"); }
.icon-48x48 .actions-view-pim-tasks:before { content: url("48x48/actions/view-pim-tasks.png"); }
.icon-48x48 .actions-view-refresh:before { content: url("48x48/actions/view-refresh.png"); }
.icon-48x48 .actions-zoom-fit-best:before { content: url("48x48/actions/zoom-fit-best.png"); }
.icon-48x48 .actions-zoom-fit-height:before { content: url("48x48/actions/zoom-fit-height.png"); }
.icon-48x48 .actions-zoom-fit-width:before { content: url("48x48/actions/zoom-fit-width.png"); }
.icon-48x48 .actions-zoom-in:before { content: url("48x48/actions/zoom-in.png"); }
.icon-48x48 .actions-zoom-original:before { content: url("48x48/actions/zoom-original.png"); }
.icon-48x48 .actions-zoom-out:before { content: url("48x48/actions/zoom-out.png"); }
.icon-48x48 .apps-approbations:before { content: url("48x48/apps/approbations.png"); }
.icon-48x48 .apps-articles:before { content: url("48x48/apps/articles.png"); }
.icon-48x48 .apps-calculator:before { content: url("48x48/apps/calculator.png"); }
.icon-48x48 .apps-calendar:before { content: url("48x48/apps/calendar.png"); }
.icon-48x48 .apps-contacts:before { content: url("48x48/apps/contacts.png"); }
.icon-48x48 .apps-delegations:before { content: url("48x48/apps/delegations.png"); }
.icon-48x48 .apps-directories:before { content: url("48x48/apps/directories.png"); }
.icon-48x48 .apps-editor:before { content: url("48x48/apps/editor.png"); }
.icon-48x48 .apps-facebook:before { content: url("48x48/apps/facebook.png"); }
.icon-48x48 .apps-faqs:before { content: url("48x48/apps/faqs.png"); }
.icon-48x48 .apps-file-manager:before { content: url("48x48/apps/file-manager.png"); }
.icon-48x48 .apps-flickr:before { content: url("48x48/apps/flickr.png"); }
.icon-48x48 .apps-forums:before { content: url("48x48/apps/forums.png"); }
.icon-48x48 .apps-groups:before { content: url("48x48/apps/groups.png"); }
.icon-48x48 .apps-mail:before { content: url("48x48/apps/mail.png"); }
.icon-48x48 .apps-notes:before { content: url("48x48/apps/notes.png"); }
.icon-48x48 .apps-orgcharts:before { content: url("48x48/apps/orgcharts.png"); }
.icon-48x48 .apps-photo:before { content: url("48x48/apps/photo.png"); }
.icon-48x48 .apps-preferences-authentication:before { content: url("48x48/apps/preferences-authentication.png"); }
.icon-48x48 .apps-preferences-calendar:before { content: url("48x48/apps/preferences-calendar.png"); }
.icon-48x48 .apps-preferences-date-time-format:before { content: url("48x48/apps/preferences-date-time-format.png"); }
.icon-48x48 .apps-preferences-mail-server:before { content: url("48x48/apps/preferences-mail-server.png"); }
.icon-48x48 .apps-preferences-search-engine:before { content: url("48x48/apps/preferences-search-engine.png"); }
.icon-48x48 .apps-preferences-site:before { content: url("48x48/apps/preferences-site.png"); }
.icon-48x48 .apps-preferences-upload:before { content: url("48x48/apps/preferences-upload.png"); }
.icon-48x48 .apps-preferences-user:before { content: url("48x48/apps/preferences-user.png"); }
.icon-48x48 .apps-preferences-webservices:before { content: url("48x48/apps/preferences-webservices.png"); }
.icon-48x48 .apps-preferences-wysiwyg-editor:before { content: url("48x48/apps/preferences-wysiwyg-editor.png"); }
.icon-48x48 .apps-rss:before { content: url("48x48/apps/rss.png"); }
.icon-48x48 .apps-sections:before { content: url("48x48/apps/sections.png"); }
.icon-48x48 .apps-statistics:before { content: url("48x48/apps/statistics.png"); }
.icon-48x48 .apps-summary:before { content: url("48x48/apps/summary.png"); }
.icon-48x48 .apps-task-manager:before { content: url("48x48/apps/task-manager.png"); }
.icon-48x48 .apps-thesaurus:before { content: url("48x48/apps/thesaurus.png"); }
.icon-48x48 .apps-twitter:before { content: url("48x48/apps/twitter.png"); }
.icon-48x48 .apps-users:before { content: url("48x48/apps/users.png"); }
.icon-48x48 .apps-vacations:before { content: url("48x48/apps/vacations.png"); }
.icon-48x48 .apps-sitemap:before { content: url("48x48/apps/orgcharts.png"); }
.icon-48x48 .apps-form:before { content: url("48x48/categories/applications-education.png"); }
.icon-48x48 .apps-shop:before { content: url("48x48/places/folder.png"); }
.icon-48x48 .apps-catalog:before { content: url("48x48/places/folder.png"); }
.icon-48x48 .apps-crm:before { content: url("48x48/objects/group.png"); }
.icon-48x48 .apps-multimedia:before { content: url("48x48/places/folder-bookmarks.png"); }
.icon-48x48 .apps-portlet:before { content: url("48x48/categories/applications-education.png"); }
.icon-48x48 .categories-applications-education:before { content: url("48x48/categories/applications-education.png"); }
.icon-48x48 .categories-preferences-desktop:before { content: url("48x48/categories/preferences-desktop.png"); }
.icon-48x48 .categories-preferences-other:before { content: url("48x48/categories/preferences-other.png"); }
.icon-48x48 .mimetypes-application-pdf:before { content: url("48x48/mimetypes/application-pdf.png"); }
.icon-48x48 .mimetypes-audio-x-generic:before { content: url("48x48/mimetypes/audio-x-generic.png"); }
.icon-48x48 .mimetypes-image-x-generic:before { content: url("48x48/mimetypes/image-x-generic.png"); }
.icon-48x48 .mimetypes-package-x-generic:before { content: url("48x48/mimetypes/package-x-generic.png"); }
.icon-48x48 .mimetypes-signature:before { content: url("48x48/mimetypes/signature.png"); }
.icon-48x48 .mimetypes-text-html:before { content: url("48x48/mimetypes/text-html.png"); }
.icon-48x48 .mimetypes-text-x-generic:before { content: url("48x48/mimetypes/text-x-generic.png"); }
.icon-48x48 .mimetypes-unknown:before { content: url("48x48/mimetypes/unknown.png"); }
.icon-48x48 .mimetypes-video-x-generic:before { content: url("48x48/mimetypes/video-x-generic.png"); }
.icon-48x48 .mimetypes-x-office-document:before { content: url("48x48/mimetypes/x-office-document.png"); }
.icon-48x48 .mimetypes-x-office-presentation:before { content: url("48x48/mimetypes/x-office-presentation.png"); }
.icon-48x48 .mimetypes-x-office-spreadsheet:before { content: url("48x48/mimetypes/x-office-spreadsheet.png"); }
.icon-48x48 .objects-contact:before { content: url("48x48/objects/contact.png"); }
.icon-48x48 .objects-contract:before { content: url("48x48/objects/contract.png"); }
.icon-48x48 .objects-email:before { content: url("48x48/objects/email.png"); }
.icon-48x48 .objects-group:before { content: url("48x48/objects/group.png"); }
.icon-48x48 .objects-invoice:before { content: url("48x48/objects/invoice.png"); }
.icon-48x48 .objects-note:before { content: url("48x48/objects/note.png"); }
.icon-48x48 .objects-organization:before { content: url("48x48/objects/organization.png"); }
.icon-48x48 .objects-publication-article:before { content: url("48x48/objects/publication-article.png"); }
.icon-48x48 .objects-publication-category:before { content: url("48x48/objects/publication-category.png"); }
.icon-48x48 .objects-publication-topic:before { content: url("48x48/objects/publication-topic.png"); }
.icon-48x48 .objects-shopping-cart:before { content: url("48x48/objects/shopping-cart.png"); }
.icon-48x48 .objects-tag:before { content: url("48x48/objects/tag.png"); }
.icon-48x48 .objects-user:before { content: url("48x48/objects/user.png"); }
.icon-48x48 .objects-manager:before { content: url("48x48/objects/manager.png"); }
.icon-48x48 .objects-product:before { content: url("48x48/actions/archive-create.png"); }
.icon-48x48 .objects-map-marker:before { content: url("48x48/objects/maps.png"); }
.icon-48x48 .objects-phone:before { content: url("48x48/objects/internet-telephony.png"); }
.icon-48x48 .objects-mobile:before { content: url("48x48/objects/phone.png"); }
.icon-48x48 .objects-address-book:before { content: url("48x48/objects/x-office-address-book.png"); }
.icon-48x48 .places-folder-bookmarks:before { content: url("48x48/places/folder-bookmarks.png"); }
.icon-48x48 .places-folder:before { content: url("48x48/places/folder.png"); }
.icon-48x48 .places-folder-red:before { content: url("48x48/places/folder-red.png"); }
.icon-48x48 .places-mail-folder-inbox:before { content: url("48x48/places/mail-folder-inbox.png"); }
.icon-48x48 .places-user-home:before { content: url("48x48/places/user-home.png"); }
.icon-48x48 .places-user-trash:before { content: url("48x48/places/user-trash.png"); }
.icon-48x48 .places-user-applications:before { content: url("48x48/places/user-applications.png"); }
.icon-48x48 .places-administrator-applications:before { content: url("48x48/places/administrator-applications.png"); }
.icon-48x48 .status-content-loading:before { content: url("48x48/status/content-loading.png"); }
.icon-48x48 .status-dialog-error:before { content: url("48x48/status/dialog-error.png"); }
.icon-48x48 .status-dialog-information:before { content: url("48x48/status/dialog-information.png"); }
.icon-48x48 .status-dialog-password:before { content: url("48x48/status/dialog-password.png"); }
.icon-48x48 .status-dialog-question:before { content: url("48x48/status/dialog-question.png"); }
.icon-48x48 .status-dialog-warning:before { content: url("48x48/status/dialog-warning.png"); }


/* @import url("32x32/icons.css"); */
.icon-32x32 .actions-archive-create:before { content: url("32x32/actions/archive-create.png"); }
.icon-32x32 .actions-archive-extract:before { content: url("32x32/actions/archive-extract.png"); }
.icon-32x32 .actions-arrow-down-double:before { content: url("32x32/actions/arrow-down-double.png"); }
.icon-32x32 .actions-arrow-down:before { content: url("32x32/actions/arrow-down.png"); }
.icon-32x32 .actions-arrow-left-double:before { content: url("32x32/actions/arrow-left-double.png"); }
.icon-32x32 .actions-arrow-left:before { content: url("32x32/actions/arrow-left.png"); }
.icon-32x32 .actions-arrow-right-double:before { content: url("32x32/actions/arrow-right-double.png"); }
.icon-32x32 .actions-arrow-right:before { content: url("32x32/actions/arrow-right.png"); }
.icon-32x32 .actions-arrow-up-double:before { content: url("32x32/actions/arrow-up-double.png"); }
.icon-32x32 .actions-arrow-up:before { content: url("32x32/actions/arrow-up.png"); }
.icon-32x32 .actions-context-menu:before { content: url("32x32/actions/format-justify-fill.png"); }
.icon-32x32 .actions-article-category-new:before { content: url("32x32/actions/article-category-new.png"); }
.icon-32x32 .actions-article-new:before { content: url("32x32/actions/article-new.png"); }
.icon-32x32 .actions-article-topic-new:before { content: url("32x32/actions/article-topic-new.png"); }
.icon-32x32 .actions-dialog-cancel:before { content: url("32x32/actions/dialog-cancel.png"); }
.icon-32x32 .actions-dialog-ok:before { content: url("32x32/actions/dialog-ok.png"); }
.icon-32x32 .actions-document-download:before { content: url("32x32/actions/document-download.png"); }
.icon-32x32 .actions-document-edit:before { content: url("32x32/actions/document-edit.png"); }
.icon-32x32 .actions-document-new:before { content: url("32x32/actions/document-new.png"); }
.icon-32x32 .actions-document-print:before { content: url("32x32/actions/document-print.png"); }
.icon-32x32 .actions-document-properties:before { content: url("32x32/actions/document-properties.png"); }
.icon-32x32 .actions-document-save:before { content: url("32x32/actions/document-save.png"); }
.icon-32x32 .actions-document-upload:before { content: url("32x32/actions/document-upload.png"); }
.icon-32x32 .actions-edit-copy:before { content: url("32x32/actions/edit-copy.png"); }
.icon-32x32 .actions-edit-cut:before { content: url("32x32/actions/edit-cut.png"); }
.icon-32x32 .actions-edit-delete:before { content: url("32x32/actions/edit-delete.png"); }
.icon-32x32 .actions-edit-find:before { content: url("32x32/actions/edit-find.png"); }
.icon-32x32 .actions-edit-find-user:before { content: url("32x32/actions/edit-find-user.png"); }
.icon-32x32 .actions-edit-paste:before { content: url("32x32/actions/edit-paste.png"); }
.icon-32x32 .actions-event-new:before { content: url("32x32/actions/event-new.png"); }
.icon-32x32 .actions-folder-new:before { content: url("32x32/actions/folder-new.png"); }
.icon-32x32 .actions-go-down:before { content: url("32x32/actions/go-down.png"); }
.icon-32x32 .actions-go-first:before { content: url("32x32/actions/go-first.png"); }
.icon-32x32 .actions-go-home:before { content: url("32x32/actions/go-home.png"); }
.icon-32x32 .actions-go-last:before { content: url("32x32/actions/go-last.png"); }
.icon-32x32 .actions-go-next:before { content: url("32x32/actions/go-next.png"); }
.icon-32x32 .actions-go-previous:before { content: url("32x32/actions/go-previous.png"); }
.icon-32x32 .actions-go-up:before { content: url("32x32/actions/go-up.png"); }
.icon-32x32 .actions-help:before       { content: url("32x32/actions/help.png"); }
.icon-32x32 .actions-list-add:before { content: url("32x32/actions/list-add.png"); }
.icon-32x32 .actions-list-add-user:before { content: url("32x32/actions/list-add-user.png"); }
.icon-32x32 .actions-list-remove:before { content: url("32x32/actions/list-remove.png"); }
.icon-32x32 .actions-list-remove-user:before { content: url("32x32/actions/list-remove-user.png"); }
.icon-32x32 .actions-mail-send:before { content: url("32x32/actions/mail-send.png"); }
.icon-32x32 .actions-note-new:before { content: url("32x32/actions/note-new.png"); }
.icon-32x32 .actions-set-access-rights:before { content: url("32x32/actions/set-access-rights.png"); }
.icon-32x32 .actions-user-group-delete:before { content: url("32x32/actions/user-group-delete.png"); }
.icon-32x32 .actions-user-group-new:before { content: url("32x32/actions/user-group-new.png"); }
.icon-32x32 .actions-user-group-properties:before { content: url("32x32/actions/user-group-properties.png"); }
.icon-32x32 .actions-user-new:before { content: url("32x32/actions/user-new.png"); }
.icon-32x32 .actions-user-properties:before { content: url("32x32/actions/user-properties.png"); }
.icon-32x32 .actions-view-calendar-day:before { content: url("32x32/actions/view-calendar-day.png"); }
.icon-32x32 .actions-view-calendar-list:before { content: url("32x32/actions/view-calendar-list.png"); }
.icon-32x32 .actions-view-calendar-month:before { content: url("32x32/actions/view-calendar-month.png"); }
.icon-32x32 .actions-view-calendar-timeline:before { content: url("32x32/actions/view-calendar-timeline.png"); }
.icon-32x32 .actions-view-calendar-week:before { content: url("32x32/actions/view-calendar-week.png"); }
.icon-32x32 .actions-view-calendar-workweek:before { content: url("32x32/actions/view-calendar-workweek.png"); }
.icon-32x32 .actions-view-history:before { content: url("32x32/actions/view-history.png"); }
.icon-32x32 .actions-view-list-details:before { content: url("32x32/actions/view-list-details.png"); }
.icon-32x32 .actions-view-list-text:before { content: url("32x32/actions/view-list-text.png"); }
.icon-32x32 .actions-view-list-tree:before { content: url("32x32/actions/view-list-tree.png"); }
.icon-32x32 .actions-view-pim-calendar:before { content: url("32x32/actions/view-pim-calendar.png"); }
.icon-32x32 .actions-view-pim-journal:before { content: url("32x32/actions/view-pim-journal.png"); }
.icon-32x32 .actions-view-pim-mail:before { content: url("32x32/actions/view-pim-mail.png"); }
.icon-32x32 .actions-view-pim-news:before { content: url("32x32/actions/view-pim-news.png"); }
.icon-32x32 .actions-view-pim-notes:before { content: url("32x32/actions/view-pim-notes.png"); }
.icon-32x32 .actions-view-pim-summary:before { content: url("32x32/actions/view-pim-summary.png"); }
.icon-32x32 .actions-view-pim-tasks:before { content: url("32x32/actions/view-pim-tasks.png"); }
.icon-32x32 .actions-view-refresh:before { content: url("32x32/actions/view-refresh.png"); }
.icon-32x32 .actions-zoom-fit-best:before { content: url("32x32/actions/zoom-fit-best.png"); }
.icon-32x32 .actions-zoom-fit-height:before { content: url("32x32/actions/zoom-fit-height.png"); }
.icon-32x32 .actions-zoom-fit-width:before { content: url("32x32/actions/zoom-fit-width.png"); }
.icon-32x32 .actions-zoom-in:before { content: url("32x32/actions/zoom-in.png"); }
.icon-32x32 .actions-zoom-original:before { content: url("32x32/actions/zoom-original.png"); }
.icon-32x32 .actions-zoom-out:before { content: url("32x32/actions/zoom-out.png"); }
.icon-32x32 .apps-approbations:before { content: url("32x32/apps/approbations.png"); }
.icon-32x32 .apps-articles:before { content: url("32x32/apps/articles.png"); }
.icon-32x32 .apps-calculator:before { content: url("32x32/apps/calculator.png"); }
.icon-32x32 .apps-calendar:before { content: url("32x32/apps/calendar.png"); }
.icon-32x32 .apps-contacts:before { content: url("32x32/apps/contacts.png"); }
.icon-32x32 .apps-delegations:before { content: url("32x32/apps/delegations.png"); }
.icon-32x32 .apps-directories:before { content: url("32x32/apps/directories.png"); }
.icon-32x32 .apps-editor:before { content: url("32x32/apps/editor.png"); }
.icon-32x32 .apps-facebook:before { content: url("32x32/apps/facebook.png"); }
.icon-32x32 .apps-faqs:before { content: url("32x32/apps/faqs.png"); }
.icon-32x32 .apps-file-manager:before { content: url("32x32/apps/file-manager.png"); }
.icon-32x32 .apps-flickr:before { content: url("32x32/apps/flickr.png"); }
.icon-32x32 .apps-forums:before { content: url("32x32/apps/forums.png"); }
.icon-32x32 .apps-groups:before { content: url("32x32/apps/groups.png"); }
.icon-32x32 .apps-mail:before { content: url("32x32/apps/mail.png"); }
.icon-32x32 .apps-notes:before { content: url("32x32/apps/notes.png"); }
.icon-32x32 .apps-orgcharts:before { content: url("32x32/apps/orgcharts.png"); }
.icon-32x32 .apps-photo:before { content: url("32x32/apps/photo.png"); }
.icon-32x32 .apps-preferences-authentication:before { content: url("32x32/apps/preferences-authentication.png"); }
.icon-32x32 .apps-preferences-calendar:before { content: url("32x32/apps/preferences-calendar.png"); }
.icon-32x32 .apps-preferences-date-time-format:before { content: url("32x32/apps/preferences-date-time-format.png"); }
.icon-32x32 .apps-preferences-mail-server:before { content: url("32x32/apps/preferences-mail-server.png"); }
.icon-32x32 .apps-preferences-search-engine:before { content: url("32x32/apps/preferences-search-engine.png"); }
.icon-32x32 .apps-preferences-site:before { content: url("32x32/apps/preferences-site.png"); }
.icon-32x32 .apps-preferences-upload:before { content: url("32x32/apps/preferences-upload.png"); }
.icon-32x32 .apps-preferences-user:before { content: url("32x32/apps/preferences-user.png"); }
.icon-32x32 .apps-preferences-webservices:before { content: url("32x32/apps/preferences-webservices.png"); }
.icon-32x32 .apps-preferences-wysiwyg-editor:before { content: url("32x32/apps/preferences-wysiwyg-editor.png"); }
.icon-32x32 .apps-rss:before { content: url("32x32/apps/rss.png"); }
.icon-32x32 .apps-sections:before { content: url("32x32/apps/sections.png"); }
.icon-32x32 .apps-statistics:before { content: url("32x32/apps/statistics.png"); }
.icon-32x32 .apps-summary:before { content: url("32x32/apps/summary.png"); }
.icon-32x32 .apps-task-manager:before { content: url("32x32/apps/task-manager.png"); }
.icon-32x32 .apps-thesaurus:before { content: url("32x32/apps/thesaurus.png"); }
.icon-32x32 .apps-twitter:before { content: url("32x32/apps/twitter.png"); }
.icon-32x32 .apps-users:before { content: url("32x32/apps/users.png"); }
.icon-32x32 .apps-vacations:before { content: url("32x32/apps/vacations.png"); }
.icon-32x32 .apps-sitemap:before { content: url("32x32/apps/orgcharts.png"); }
.icon-32x32 .apps-form:before { content: url("32x32/categories/applications-education.png"); }
.icon-32x32 .apps-shop:before { content: url("32x32/places/folder.png"); }
.icon-32x32 .apps-catalog:before { content: url("32x32/places/folder.png"); }
.icon-32x32 .apps-crm:before { content: url("32x32/objects/group.png"); }
.icon-32x32 .apps-multimedia:before { content: url("32x32/places/folder-bookmarks.png"); }
.icon-32x32 .apps-portlet:before { content: url("32x32/categories/applications-education.png"); }
.icon-32x32 .categories-applications-education:before { content: url("32x32/categories/applications-education.png"); }
.icon-32x32 .categories-preferences-desktop:before { content: url("32x32/categories/preferences-desktop.png"); }
.icon-32x32 .categories-preferences-other:before { content: url("32x32/categories/preferences-other.png"); }
.icon-32x32 .mimetypes-application-pdf:before { content: url("32x32/mimetypes/application-pdf.png"); }
.icon-32x32 .mimetypes-audio-x-generic:before { content: url("32x32/mimetypes/audio-x-generic.png"); }
.icon-32x32 .mimetypes-image-x-generic:before { content: url("32x32/mimetypes/image-x-generic.png"); }
.icon-32x32 .mimetypes-package-x-generic:before { content: url("32x32/mimetypes/package-x-generic.png"); }
.icon-32x32 .mimetypes-signature:before { content: url("32x32/mimetypes/signature.png"); }
.icon-32x32 .mimetypes-text-html:before { content: url("32x32/mimetypes/text-html.png"); }
.icon-32x32 .mimetypes-text-x-generic:before { content: url("32x32/mimetypes/text-x-generic.png"); }
.icon-32x32 .mimetypes-unknown:before { content: url("32x32/mimetypes/unknown.png"); }
.icon-32x32 .mimetypes-video-x-generic:before { content: url("32x32/mimetypes/video-x-generic.png"); }
.icon-32x32 .mimetypes-x-office-document:before { content: url("32x32/mimetypes/x-office-document.png"); }
.icon-32x32 .mimetypes-x-office-presentation:before { content: url("32x32/mimetypes/x-office-presentation.png"); }
.icon-32x32 .mimetypes-x-office-spreadsheet:before { content: url("32x32/mimetypes/x-office-spreadsheet.png"); }
.icon-32x32 .objects-contact:before { content: url("32x32/objects/contact.png"); }
.icon-32x32 .objects-contract:before { content: url("32x32/objects/contract.png"); }
.icon-32x32 .objects-email:before { content: url("32x32/objects/email.png"); }
.icon-32x32 .objects-group:before { content: url("32x32/objects/group.png"); }
.icon-32x32 .objects-invoice:before { content: url("32x32/objects/invoice.png"); }
.icon-32x32 .objects-note:before { content: url("32x32/objects/note.png"); }
.icon-32x32 .objects-organization:before { content: url("32x32/objects/organization.png"); }
.icon-32x32 .objects-publication-article:before { content: url("32x32/objects/publication-article.png"); }
.icon-32x32 .objects-publication-category:before { content: url("32x32/objects/publication-category.png"); }
.icon-32x32 .objects-publication-topic:before { content: url("32x32/objects/publication-topic.png"); }
.icon-32x32 .objects-shopping-cart:before { content: url("32x32/objects/shopping-cart.png"); }
.icon-32x32 .objects-tag:before { content: url("32x32/objects/tag.png"); }
.icon-32x32 .objects-user:before { content: url("32x32/objects/user.png"); }
.icon-32x32 .objects-manager:before { content: url("32x32/objects/manager.png"); }
.icon-32x32 .objects-product:before { content: url("32x32/actions/archive-create.png"); }
.icon-32x32 .objects-map-marker:before { content: url("32x32/objects/maps.png"); }
.icon-32x32 .objects-phone:before { content: url("32x32/objects/internet-telephony.png"); }
.icon-32x32 .objects-mobile:before { content: url("32x32/objects/phone.png"); }
.icon-32x32 .objects-address-book:before { content: url("32x32/objects/x-office-address-book.png"); }
.icon-32x32 .places-folder-bookmarks:before { content: url("32x32/places/folder-bookmarks.png"); }
.icon-32x32 .places-folder:before { content: url("32x32/places/folder.png"); }
.icon-32x32 .places-folder-red:before { content: url("32x32/places/folder-red.png"); }
.icon-32x32 .places-mail-folder-inbox:before { content: url("32x32/places/mail-folder-inbox.png"); }
.icon-32x32 .places-user-home:before { content: url("32x32/places/user-home.png"); }
.icon-32x32 .places-user-trash:before { content: url("32x32/places/user-trash.png"); }
.icon-32x32 .places-user-applications:before { content: url("32x32/places/user-applications.png"); }
.icon-32x32 .places-administrator-applications:before { content: url("32x32/places/administrator-applications.png"); }
.icon-32x32 .status-content-loading:before { content: url("32x32/status/content-loading.png"); }
.icon-32x32 .status-dialog-error:before { content: url("32x32/status/dialog-error.png"); }
.icon-32x32 .status-dialog-information:before { content: url("32x32/status/dialog-information.png"); }
.icon-32x32 .status-dialog-password:before { content: url("32x32/status/dialog-password.png"); }
.icon-32x32 .status-dialog-question:before { content: url("32x32/status/dialog-question.png"); }
.icon-32x32 .status-dialog-warning:before { content: url("32x32/status/dialog-warning.png"); }


/* @import url("24x24/icons.css"); */
.icon-24x24 .actions-archive-create:before { content: url("24x24/actions/archive-create.png"); }
.icon-24x24 .actions-archive-extract:before { content: url("24x24/actions/archive-extract.png"); }
.icon-24x24 .actions-arrow-down-double:before { content: url("24x24/actions/arrow-down-double.png"); }
.icon-24x24 .actions-arrow-down:before { content: url("24x24/actions/arrow-down.png"); }
.icon-24x24 .actions-arrow-left-double:before { content: url("24x24/actions/arrow-left-double.png"); }
.icon-24x24 .actions-arrow-left:before { content: url("24x24/actions/arrow-left.png"); }
.icon-24x24 .actions-arrow-right-double:before { content: url("24x24/actions/arrow-right-double.png"); }
.icon-24x24 .actions-arrow-right:before { content: url("24x24/actions/arrow-right.png"); }
.icon-24x24 .actions-arrow-up-double:before { content: url("24x24/actions/arrow-up-double.png"); }
.icon-24x24 .actions-arrow-up:before { content: url("24x24/actions/arrow-up.png"); }
.icon-24x24 .actions-context-menu:before { content: url("24x24/actions/format-justify-fill.png"); }
.icon-24x24 .actions-article-category-new:before { content: url("24x24/actions/article-category-new.png"); }
.icon-24x24 .actions-article-new:before { content: url("24x24/actions/article-new.png"); }
.icon-24x24 .actions-article-topic-new:before { content: url("24x24/actions/article-topic-new.png"); }
.icon-24x24 .actions-dialog-cancel:before { content: url("24x24/actions/dialog-cancel.png"); }
.icon-24x24 .actions-dialog-ok:before { content: url("24x24/actions/dialog-ok.png"); }
.icon-24x24 .actions-document-download:before { content: url("24x24/actions/document-download.png"); }
.icon-24x24 .actions-document-edit:before { content: url("24x24/actions/document-edit.png"); }
.icon-24x24 .actions-document-new:before { content: url("24x24/actions/document-new.png"); }
.icon-24x24 .actions-document-print:before { content: url("24x24/actions/document-print.png"); }
.icon-24x24 .actions-document-properties:before { content: url("24x24/actions/document-properties.png"); }
.icon-24x24 .actions-document-save:before { content: url("24x24/actions/document-save.png"); }
.icon-24x24 .actions-document-upload:before { content: url("24x24/actions/document-upload.png"); }
.icon-24x24 .actions-edit-copy:before { content: url("24x24/actions/edit-copy.png"); }
.icon-24x24 .actions-edit-cut:before { content: url("24x24/actions/edit-cut.png"); }
.icon-24x24 .actions-edit-delete:before { content: url("24x24/actions/edit-delete.png"); }
.icon-24x24 .actions-edit-find:before { content: url("24x24/actions/edit-find.png"); }
.icon-24x24 .actions-edit-find-user:before { content: url("24x24/actions/edit-find-user.png"); }
.icon-24x24 .actions-edit-paste:before { content: url("24x24/actions/edit-paste.png"); }
.icon-24x24 .actions-event-new:before { content: url("24x24/actions/event-new.png"); }
.icon-24x24 .actions-folder-new:before { content: url("24x24/actions/folder-new.png"); }
.icon-24x24 .actions-go-down:before { content: url("24x24/actions/go-down.png"); }
.icon-24x24 .actions-go-first:before { content: url("24x24/actions/go-first.png"); }
.icon-24x24 .actions-go-home:before { content: url("24x24/actions/go-home.png"); }
.icon-24x24 .actions-go-last:before { content: url("24x24/actions/go-last.png"); }
.icon-24x24 .actions-go-next:before { content: url("24x24/actions/go-next.png"); }
.icon-24x24 .actions-go-previous:before { content: url("24x24/actions/go-previous.png"); }
.icon-24x24 .actions-go-up:before { content: url("24x24/actions/go-up.png"); }

.icon-24x24 .actions-help:before       { content: url("24x24/actions/help.png"); }
/* .icon-24x24 .actions-help:before { content: url("24x24/actions/help.png"); } */

.icon-24x24 .actions-list-add:before { content: url("24x24/actions/list-add.png"); }
.icon-24x24 .actions-list-add-user:before { content: url("24x24/actions/list-add-user.png"); }
.icon-24x24 .actions-list-remove:before { content: url("24x24/actions/list-remove.png"); }
.icon-24x24 .actions-list-remove-user:before { content: url("24x24/actions/list-remove-user.png"); }
.icon-24x24 .actions-mail-send:before { content: url("24x24/actions/mail-send.png"); }
.icon-24x24 .actions-note-new:before { content: url("24x24/actions/note-new.png"); }
.icon-24x24 .actions-set-access-rights:before { content: url("24x24/actions/set-access-rights.png"); }
.icon-24x24 .actions-user-group-delete:before { content: url("24x24/actions/user-group-delete.png"); }
.icon-24x24 .actions-user-group-new:before { content: url("24x24/actions/user-group-new.png"); }
.icon-24x24 .actions-user-group-properties:before { content: url("24x24/actions/user-group-properties.png"); }
.icon-24x24 .actions-user-new:before { content: url("24x24/actions/user-new.png"); }
.icon-24x24 .actions-user-properties:before { content: url("24x24/actions/user-properties.png"); }
.icon-24x24 .actions-view-calendar-day:before { content: url("24x24/actions/view-calendar-day.png"); }
.icon-24x24 .actions-view-calendar-list:before { content: url("24x24/actions/view-calendar-list.png"); }
.icon-24x24 .actions-view-calendar-month:before { content: url("24x24/actions/view-calendar-month.png"); }
.icon-24x24 .actions-view-calendar-timeline:before { content: url("24x24/actions/view-calendar-timeline.png"); }
.icon-24x24 .actions-view-calendar-week:before { content: url("24x24/actions/view-calendar-week.png"); }
.icon-24x24 .actions-view-calendar-workweek:before { content: url("24x24/actions/view-calendar-workweek.png"); }
.icon-24x24 .actions-view-history:before { content: url("24x24/actions/view-history.png"); }
.icon-24x24 .actions-view-list-details:before { content: url("24x24/actions/view-list-details.png"); }
.icon-24x24 .actions-view-list-text:before { content: url("24x24/actions/view-list-text.png"); }
.icon-24x24 .actions-view-list-tree:before { content: url("24x24/actions/view-list-tree.png"); }
.icon-24x24 .actions-view-pim-calendar:before { content: url("24x24/actions/view-pim-calendar.png"); }
.icon-24x24 .actions-view-pim-journal:before { content: url("24x24/actions/view-pim-journal.png"); }
.icon-24x24 .actions-view-pim-mail:before { content: url("24x24/actions/view-pim-mail.png"); }
.icon-24x24 .actions-view-pim-news:before { content: url("24x24/actions/view-pim-news.png"); }
.icon-24x24 .actions-view-pim-notes:before { content: url("24x24/actions/view-pim-notes.png"); }
.icon-24x24 .actions-view-pim-summary:before { content: url("24x24/actions/view-pim-summary.png"); }
.icon-24x24 .actions-view-pim-tasks:before { content: url("24x24/actions/view-pim-tasks.png"); }
.icon-24x24 .actions-view-refresh:before { content: url("24x24/actions/view-refresh.png"); }
.icon-24x24 .actions-zoom-fit-best:before { content: url("24x24/actions/zoom-fit-best.png"); }
.icon-24x24 .actions-zoom-fit-height:before { content: url("24x24/actions/zoom-fit-height.png"); }
.icon-24x24 .actions-zoom-fit-width:before { content: url("24x24/actions/zoom-fit-width.png"); }
.icon-24x24 .actions-zoom-in:before { content: url("24x24/actions/zoom-in.png"); }
.icon-24x24 .actions-zoom-original:before { content: url("24x24/actions/zoom-original.png"); }
.icon-24x24 .actions-zoom-out:before { content: url("24x24/actions/zoom-out.png"); }
.icon-24x24 .apps-approbations:before { content: url("24x24/apps/approbations.png"); }
.icon-24x24 .apps-articles:before { content: url("24x24/apps/articles.png"); }
.icon-24x24 .apps-calculator:before { content: url("24x24/apps/calculator.png"); }
.icon-24x24 .apps-calendar:before { content: url("24x24/apps/calendar.png"); }
.icon-24x24 .apps-contacts:before { content: url("24x24/apps/contacts.png"); }
.icon-24x24 .apps-delegations:before { content: url("24x24/apps/delegations.png"); }
.icon-24x24 .apps-directories:before { content: url("24x24/apps/directories.png"); }
.icon-24x24 .apps-editor:before { content: url("24x24/apps/editor.png"); }
.icon-24x24 .apps-facebook:before { content: url("24x24/apps/facebook.png"); }
.icon-24x24 .apps-faqs:before { content: url("24x24/apps/faqs.png"); }
.icon-24x24 .apps-file-manager:before { content: url("24x24/apps/file-manager.png"); }
.icon-24x24 .apps-flickr:before { content: url("24x24/apps/flickr.png"); }
.icon-24x24 .apps-forums:before { content: url("24x24/apps/forums.png"); }
.icon-24x24 .apps-groups:before { content: url("24x24/apps/groups.png"); }
.icon-24x24 .apps-mail:before { content: url("24x24/apps/mail.png"); }
.icon-24x24 .apps-notes:before { content: url("24x24/apps/notes.png"); }
.icon-24x24 .apps-orgcharts:before { content: url("24x24/apps/orgcharts.png"); }
.icon-24x24 .apps-photo:before { content: url("24x24/apps/photo.png"); }
.icon-24x24 .apps-preferences-authentication:before { content: url("24x24/apps/preferences-authentication.png"); }
.icon-24x24 .apps-preferences-calendar:before { content: url("24x24/apps/preferences-calendar.png"); }
.icon-24x24 .apps-preferences-date-time-format:before { content: url("24x24/apps/preferences-date-time-format.png"); }
.icon-24x24 .apps-preferences-mail-server:before { content: url("24x24/apps/preferences-mail-server.png"); }
.icon-24x24 .apps-preferences-search-engine:before { content: url("24x24/apps/preferences-search-engine.png"); }
.icon-24x24 .apps-preferences-site:before { content: url("24x24/apps/preferences-site.png"); }
.icon-24x24 .apps-preferences-upload:before { content: url("24x24/apps/preferences-upload.png"); }
.icon-24x24 .apps-preferences-user:before { content: url("24x24/apps/preferences-user.png"); }
.icon-24x24 .apps-preferences-webservices:before { content: url("24x24/apps/preferences-webservices.png"); }
.icon-24x24 .apps-preferences-wysiwyg-editor:before { content: url("24x24/apps/preferences-wysiwyg-editor.png"); }
.icon-24x24 .apps-rss:before { content: url("24x24/apps/rss.png"); }
.icon-24x24 .apps-sections:before { content: url("24x24/apps/sections.png"); }
.icon-24x24 .apps-statistics:before { content: url("24x24/apps/statistics.png"); }
.icon-24x24 .apps-summary:before { content: url("24x24/apps/summary.png"); }
.icon-24x24 .apps-task-manager:before { content: url("24x24/apps/task-manager.png"); }
.icon-24x24 .apps-thesaurus:before { content: url("24x24/apps/thesaurus.png"); }
.icon-24x24 .apps-twitter:before { content: url("24x24/apps/twitter.png"); }
.icon-24x24 .apps-users:before { content: url("24x24/apps/users.png"); }
.icon-24x24 .apps-vacations:before { content: url("24x24/apps/vacations.png"); }
.icon-24x24 .apps-sitemap:before { content: url("24x24/apps/orgcharts.png"); }
.icon-24x24 .apps-form:before { content: url("24x24/categories/applications-education.png"); }
.icon-24x24 .apps-shop:before { content: url("24x24/places/folder.png"); }
.icon-24x24 .apps-catalog:before { content: url("24x24/places/folder.png"); }
.icon-24x24 .apps-crm:before { content: url("24x24/objects/group.png"); }
.icon-24x24 .apps-multimedia:before { content: url("24x24/places/folder-bookmarks.png"); }
.icon-24x24 .apps-portlet:before { content: url("24x24/categories/applications-education.png"); }
.icon-24x24 .categories-applications-education:before { content: url("24x24/categories/applications-education.png"); }
.icon-24x24 .categories-preferences-desktop:before { content: url("24x24/categories/preferences-desktop.png"); }
.icon-24x24 .categories-preferences-other:before { content: url("24x24/categories/preferences-other.png"); }
.icon-24x24 .mimetypes-application-pdf:before { content: url("24x24/mimetypes/application-pdf.png"); }
.icon-24x24 .mimetypes-audio-x-generic:before { content: url("24x24/mimetypes/audio-x-generic.png"); }
.icon-24x24 .mimetypes-image-x-generic:before { content: url("24x24/mimetypes/image-x-generic.png"); }
.icon-24x24 .mimetypes-package-x-generic:before { content: url("24x24/mimetypes/package-x-generic.png"); }
.icon-24x24 .mimetypes-signature:before { content: url("24x24/mimetypes/signature.png"); }
.icon-24x24 .mimetypes-text-html:before { content: url("24x24/mimetypes/text-html.png"); }
.icon-24x24 .mimetypes-text-x-generic:before { content: url("24x24/mimetypes/text-x-generic.png"); }
.icon-24x24 .mimetypes-unknown:before { content: url("24x24/mimetypes/unknown.png"); }
.icon-24x24 .mimetypes-video-x-generic:before { content: url("24x24/mimetypes/video-x-generic.png"); }
.icon-24x24 .mimetypes-x-office-document:before { content: url("24x24/mimetypes/x-office-document.png"); }
.icon-24x24 .mimetypes-x-office-presentation:before { content: url("24x24/mimetypes/x-office-presentation.png"); }
.icon-24x24 .mimetypes-x-office-spreadsheet:before { content: url("24x24/mimetypes/x-office-spreadsheet.png"); }
.icon-24x24 .objects-contact:before { content: url("24x24/objects/contact.png"); }
.icon-24x24 .objects-contract:before { content: url("24x24/objects/contract.png"); }
.icon-24x24 .objects-email:before { content: url("24x24/objects/email.png"); }
.icon-24x24 .objects-group:before { content: url("24x24/objects/group.png"); }
.icon-24x24 .objects-invoice:before { content: url("24x24/objects/invoice.png"); }
.icon-24x24 .objects-note:before { content: url("24x24/objects/note.png"); }
.icon-24x24 .objects-organization:before { content: url("24x24/objects/organization.png"); }
.icon-24x24 .objects-publication-article:before { content: url("24x24/objects/publication-article.png"); }
.icon-24x24 .objects-publication-category:before { content: url("24x24/objects/publication-category.png"); }
.icon-24x24 .objects-publication-topic:before { content: url("24x24/objects/publication-topic.png"); }
.icon-24x24 .objects-shopping-cart:before { content: url("24x24/objects/shopping-cart.png"); }
.icon-24x24 .objects-tag:before { content: url("24x24/objects/tag.png"); }
.icon-24x24 .objects-user:before { content: url("24x24/objects/user.png"); }
.icon-24x24 .objects-manager:before { content: url("24x24/objects/manager.png"); }
.icon-24x24 .objects-product:before { content: url("24x24/actions/archive-create.png"); }
.icon-24x24 .objects-map-marker:before { content: url("24x24/objects/maps.png"); }
.icon-24x24 .objects-phone:before { content: url("24x24/objects/internet-telephony.png"); }
.icon-24x24 .objects-mobile:before { content: url("24x24/objects/phone.png"); }
.icon-24x24 .objects-address-book:before { content: url("24x24/objects/x-office-address-book.png"); }
.icon-24x24 .places-folder-bookmarks:before { content: url("24x24/places/folder-bookmarks.png"); }
.icon-24x24 .places-folder:before { content: url("24x24/places/folder.png"); }
.icon-24x24 .places-folder-red:before { content: url("24x24/places/folder-red.png"); }
.icon-24x24 .places-mail-folder-inbox:before { content: url("24x24/places/mail-folder-inbox.png"); }
.icon-24x24 .places-user-home:before { content: url("24x24/places/user-home.png"); }
.icon-24x24 .places-user-trash:before { content: url("24x24/places/user-trash.png"); }
.icon-24x24 .places-user-applications:before { content: url("24x24/places/user-applications.png"); }
.icon-24x24 .places-administrator-applications:before { content: url("24x24/places/administrator-applications.png"); }
.icon-24x24 .status-content-loading:before { content: url("24x24/status/content-loading.png"); }
.icon-24x24 .status-dialog-error:before { content: url("24x24/status/dialog-error.png"); }
.icon-24x24 .status-dialog-information:before { content: url("24x24/status/dialog-information.png"); }
.icon-24x24 .status-dialog-password:before { content: url("24x24/status/dialog-password.png"); }
.icon-24x24 .status-dialog-question:before { content: url("24x24/status/dialog-question.png"); }
.icon-24x24 .status-dialog-warning:before { content: url("24x24/status/dialog-warning.png"); }


/* @import url("16x16/icons.css"); */
.icon-16x16 .actions-archive-create:before { content: url("16x16/actions/archive-create.png"); }
.icon-16x16 .actions-archive-extract:before { content: url("16x16/actions/archive-extract.png"); }
.icon-16x16 .actions-arrow-down-double:before { content: url("16x16/actions/arrow-down-double.png"); }
.icon-16x16 .actions-arrow-down:before { content: url("16x16/actions/arrow-down.png"); }
.icon-16x16 .actions-arrow-left-double:before { content: url("16x16/actions/arrow-left-double.png"); }
.icon-16x16 .actions-arrow-left:before { content: url("16x16/actions/arrow-left.png"); }
.icon-16x16 .actions-arrow-right-double:before { content: url("16x16/actions/arrow-right-double.png"); }
.icon-16x16 .actions-arrow-right:before { content: url("16x16/actions/arrow-right.png"); }
.icon-16x16 .actions-arrow-up-double:before { content: url("16x16/actions/arrow-up-double.png"); }
.icon-16x16 .actions-arrow-up:before { content: url("16x16/actions/arrow-up.png"); }
.icon-16x16 .actions-context-menu:before { content: url("16x16/actions/format-justify-fill.png"); }
.icon-16x16 .actions-article-category-new:before { content: url("16x16/actions/article-category-new.png"); }
.icon-16x16 .actions-article-new:before { content: url("16x16/actions/article-new.png"); }
.icon-16x16 .actions-article-topic-new:before { content: url("16x16/actions/article-topic-new.png"); }
.icon-16x16 .actions-dialog-cancel:before { content: url("16x16/actions/dialog-cancel.png"); }
.icon-16x16 .actions-dialog-ok:before { content: url("16x16/actions/dialog-ok.png"); }
.icon-16x16 .actions-document-download:before { content: url("16x16/actions/document-download.png"); }
.icon-16x16 .actions-document-edit:before { content: url("16x16/actions/document-edit.png"); }
.icon-16x16 .actions-document-new:before { content: url("16x16/actions/document-new.png"); }
.icon-16x16 .actions-document-print:before { content: url("16x16/actions/document-print.png"); }
.icon-16x16 .actions-document-properties:before { content: url("16x16/actions/document-properties.png"); }
.icon-16x16 .actions-document-save:before { content: url("16x16/actions/document-save.png"); }
.icon-16x16 .actions-document-upload:before { content: url("16x16/actions/document-upload.png"); }
.icon-16x16 .actions-edit-copy:before { content: url("16x16/actions/edit-copy.png"); }
.icon-16x16 .actions-edit-cut:before { content: url("16x16/actions/edit-cut.png"); }
.icon-16x16 .actions-edit-delete:before { content: url("16x16/actions/edit-delete.png"); }
.icon-16x16 .actions-edit-find:before { content: url("16x16/actions/edit-find.png"); }
.icon-16x16 .actions-edit-find-user:before { content: url("16x16/actions/edit-find-user.png"); }
.icon-16x16 .actions-edit-paste:before { content: url("16x16/actions/edit-paste.png"); }
.icon-16x16 .actions-event-new:before { content: url("16x16/actions/event-new.png"); }
.icon-16x16 .actions-folder-new:before { content: url("16x16/actions/folder-new.png"); }
.icon-16x16 .actions-go-down:before { content: url("16x16/actions/go-down.png"); }
.icon-16x16 .actions-go-first:before { content: url("16x16/actions/go-first.png"); }
.icon-16x16 .actions-go-home:before { content: url("16x16/actions/go-home.png"); }
.icon-16x16 .actions-go-last:before { content: url("16x16/actions/go-last.png"); }
.icon-16x16 .actions-go-next:before { content: url("16x16/actions/go-next.png"); }
.icon-16x16 .actions-go-previous:before { content: url("16x16/actions/go-previous.png"); }
.icon-16x16 .actions-go-up:before { content: url("16x16/actions/go-up.png"); }

.icon-16x16 .actions-help:before       { content: url("16x16/actions/help.png"); }
/*.icon-16x16 .actions-help:before { content: url("16x16/actions/help.png"); }*/

.icon-16x16 .actions-list-add:before { content: url("16x16/actions/list-add.png"); }
.icon-16x16 .actions-list-add-user:before { content: url("16x16/actions/list-add-user.png"); }
.icon-16x16 .actions-list-remove:before { content: url("16x16/actions/list-remove.png"); }
.icon-16x16 .actions-list-remove-user:before { content: url("16x16/actions/list-remove-user.png"); }
.icon-16x16 .actions-mail-send:before { content: url("16x16/actions/mail-send.png"); }
.icon-16x16 .actions-note-new:before { content: url("16x16/actions/note-new.png"); }
.icon-16x16 .actions-set-access-rights:before { content: url("16x16/actions/set-access-rights.png"); }
.icon-16x16 .actions-user-group-delete:before { content: url("16x16/actions/user-group-delete.png"); }
.icon-16x16 .actions-user-group-new:before { content: url("16x16/actions/user-group-new.png"); }
.icon-16x16 .actions-user-group-properties:before { content: url("16x16/actions/user-group-properties.png"); }
.icon-16x16 .actions-user-new:before { content: url("16x16/actions/user-new.png"); }
.icon-16x16 .actions-user-properties:before { content: url("16x16/actions/user-properties.png"); }
.icon-16x16 .actions-view-calendar-day:before { content: url("16x16/actions/view-calendar-day.png"); }
.icon-16x16 .actions-view-calendar-list:before { content: url("16x16/actions/view-calendar-list.png"); }
.icon-16x16 .actions-view-calendar-month:before { content: url("16x16/actions/view-calendar-month.png"); }
.icon-16x16 .actions-view-calendar-timeline:before { content: url("16x16/actions/view-calendar-timeline.png"); }
.icon-16x16 .actions-view-calendar-week:before { content: url("16x16/actions/view-calendar-week.png"); }
.icon-16x16 .actions-view-calendar-workweek:before { content: url("16x16/actions/view-calendar-workweek.png"); }
.icon-16x16 .actions-view-history:before { content: url("16x16/actions/view-history.png"); }
.icon-16x16 .actions-view-list-details:before { content: url("16x16/actions/view-list-details.png"); }
.icon-16x16 .actions-view-list-text:before { content: url("16x16/actions/view-list-text.png"); }
.icon-16x16 .actions-view-list-tree:before { content: url("16x16/actions/view-list-tree.png"); }
.icon-16x16 .actions-view-pim-calendar:before { content: url("16x16/actions/view-pim-calendar.png"); }
.icon-16x16 .actions-view-pim-journal:before { content: url("16x16/actions/view-pim-journal.png"); }
.icon-16x16 .actions-view-pim-mail:before { content: url("16x16/actions/view-pim-mail.png"); }
.icon-16x16 .actions-view-pim-news:before { content: url("16x16/actions/view-pim-news.png"); }
.icon-16x16 .actions-view-pim-notes:before { content: url("16x16/actions/view-pim-notes.png"); }
.icon-16x16 .actions-view-pim-summary:before { content: url("16x16/actions/view-pim-summary.png"); }
.icon-16x16 .actions-view-pim-tasks:before { content: url("16x16/actions/view-pim-tasks.png"); }
.icon-16x16 .actions-view-refresh:before { content: url("16x16/actions/view-refresh.png"); }
.icon-16x16 .actions-zoom-fit-best:before { content: url("16x16/actions/zoom-fit-best.png"); }
.icon-16x16 .actions-zoom-fit-height:before { content: url("16x16/actions/zoom-fit-height.png"); }
.icon-16x16 .actions-zoom-fit-width:before { content: url("16x16/actions/zoom-fit-width.png"); }
.icon-16x16 .actions-zoom-in:before { content: url("16x16/actions/zoom-in.png"); }
.icon-16x16 .actions-zoom-original:before { content: url("16x16/actions/zoom-original.png"); }
.icon-16x16 .actions-zoom-out:before { content: url("16x16/actions/zoom-out.png"); }
.icon-16x16 .apps-approbations:before { content: url("16x16/apps/approbations.png"); }
.icon-16x16 .apps-articles:before { content: url("16x16/apps/articles.png"); }
.icon-16x16 .apps-calculator:before { content: url("16x16/apps/calculator.png"); }
.icon-16x16 .apps-calendar:before { content: url("16x16/apps/calendar.png"); }
.icon-16x16 .apps-contacts:before { content: url("16x16/apps/contacts.png"); }
.icon-16x16 .apps-delegations:before { content: url("16x16/apps/delegations.png"); }
.icon-16x16 .apps-directories:before { content: url("16x16/apps/directories.png"); }
.icon-16x16 .apps-editor:before { content: url("16x16/apps/editor.png"); }
.icon-16x16 .apps-facebook:before { content: url("16x16/apps/facebook.png"); }
.icon-16x16 .apps-faqs:before { content: url("16x16/apps/faqs.png"); }
.icon-16x16 .apps-file-manager:before { content: url("16x16/apps/file-manager.png"); }
.icon-16x16 .apps-flickr:before { content: url("16x16/apps/flickr.png"); }
.icon-16x16 .apps-forums:before { content: url("16x16/apps/forums.png"); }
.icon-16x16 .apps-groups:before { content: url("16x16/apps/groups.png"); }
.icon-16x16 .apps-mail:before { content: url("16x16/apps/mail.png"); }
.icon-16x16 .apps-notes:before { content: url("16x16/apps/notes.png"); }
.icon-16x16 .apps-orgcharts:before { content: url("16x16/apps/orgcharts.png"); }
.icon-16x16 .apps-photo:before { content: url("16x16/apps/photo.png"); }
.icon-16x16 .apps-preferences-authentication:before { content: url("16x16/apps/preferences-authentication.png"); }
.icon-16x16 .apps-preferences-calendar:before { content: url("16x16/apps/preferences-calendar.png"); }
.icon-16x16 .apps-preferences-date-time-format:before { content: url("16x16/apps/preferences-date-time-format.png"); }
.icon-16x16 .apps-preferences-mail-server:before { content: url("16x16/apps/preferences-mail-server.png"); }
.icon-16x16 .apps-preferences-search-engine:before { content: url("16x16/apps/preferences-search-engine.png"); }
.icon-16x16 .apps-preferences-site:before { content: url("16x16/apps/preferences-site.png"); }
.icon-16x16 .apps-preferences-upload:before { content: url("16x16/apps/preferences-upload.png"); }
.icon-16x16 .apps-preferences-user:before { content: url("16x16/apps/preferences-user.png"); }
.icon-16x16 .apps-preferences-webservices:before { content: url("16x16/apps/preferences-webservices.png"); }
.icon-16x16 .apps-preferences-wysiwyg-editor:before { content: url("16x16/apps/preferences-wysiwyg-editor.png"); }
.icon-16x16 .apps-rss:before { content: url("16x16/apps/rss.png"); }
.icon-16x16 .apps-sections:before { content: url("16x16/apps/sections.png"); }
.icon-16x16 .apps-statistics:before { content: url("16x16/apps/statistics.png"); }
.icon-16x16 .apps-summary:before { content: url("16x16/apps/summary.png"); }
.icon-16x16 .apps-task-manager:before { content: url("16x16/apps/task-manager.png"); }
.icon-16x16 .apps-thesaurus:before { content: url("16x16/apps/thesaurus.png"); }
.icon-16x16 .apps-twitter:before { content: url("16x16/apps/twitter.png"); }
.icon-16x16 .apps-users:before { content: url("16x16/apps/users.png"); }
.icon-16x16 .apps-vacations:before { content: url("16x16/apps/vacations.png"); }
.icon-16x16 .apps-sitemap:before { content: url("16x16/apps/orgcharts.png"); }
.icon-16x16 .apps-form:before { content: url("16x16/categories/applications-education.png"); }
.icon-16x16 .apps-shop:before { content: url("16x16/places/folder.png"); }
.icon-16x16 .apps-catalog:before { content: url("16x16/places/folder.png"); }
.icon-16x16 .apps-crm:before { content: url("16x16/objects/group.png"); }
.icon-16x16 .apps-multimedia:before { content: url("16x16/places/folder-bookmarks.png"); }
.icon-16x16 .apps-portlet:before { content: url("16x16/categories/applications-education.png"); }
.icon-16x16 .categories-applications-education:before { content: url("16x16/categories/applications-education.png"); }
.icon-16x16 .categories-preferences-desktop:before { content: url("16x16/categories/preferences-desktop.png"); }
.icon-16x16 .categories-preferences-other:before { content: url("16x16/categories/preferences-other.png"); }
.icon-16x16 .mimetypes-application-pdf:before { content: url("16x16/mimetypes/application-pdf.png"); }
.icon-16x16 .mimetypes-audio-x-generic:before { content: url("16x16/mimetypes/audio-x-generic.png"); }
.icon-16x16 .mimetypes-image-x-generic:before { content: url("16x16/mimetypes/image-x-generic.png"); }
.icon-16x16 .mimetypes-package-x-generic:before { content: url("16x16/mimetypes/package-x-generic.png"); }
.icon-16x16 .mimetypes-signature:before { content: url("16x16/mimetypes/signature.png"); }
.icon-16x16 .mimetypes-text-html:before { content: url("16x16/mimetypes/text-html.png"); }
.icon-16x16 .mimetypes-text-x-generic:before { content: url("16x16/mimetypes/text-x-generic.png"); }
.icon-16x16 .mimetypes-unknown:before { content: url("16x16/mimetypes/unknown.png"); }
.icon-16x16 .mimetypes-video-x-generic:before { content: url("16x16/mimetypes/video-x-generic.png"); }
.icon-16x16 .mimetypes-x-office-document:before { content: url("16x16/mimetypes/x-office-document.png"); }
.icon-16x16 .mimetypes-x-office-presentation:before { content: url("16x16/mimetypes/x-office-presentation.png"); }
.icon-16x16 .mimetypes-x-office-spreadsheet:before { content: url("16x16/mimetypes/x-office-spreadsheet.png"); }
.icon-16x16 .objects-contact:before { content: url("16x16/objects/contact.png"); }
.icon-16x16 .objects-contract:before { content: url("16x16/objects/contract.png"); }
.icon-16x16 .objects-email:before { content: url("16x16/objects/email.png"); }
.icon-16x16 .objects-group:before { content: url("16x16/objects/group.png"); }
.icon-16x16 .objects-invoice:before { content: url("16x16/objects/invoice.png"); }
.icon-16x16 .objects-note:before { content: url("16x16/objects/note.png"); }
.icon-16x16 .objects-organization:before { content: url("16x16/objects/organization.png"); }
.icon-16x16 .objects-publication-article:before { content: url("16x16/objects/publication-article.png"); }
.icon-16x16 .objects-publication-category:before { content: url("16x16/objects/publication-category.png"); }
.icon-16x16 .objects-publication-topic:before { content: url("16x16/objects/publication-topic.png"); }
.icon-16x16 .objects-shopping-cart:before { content: url("16x16/objects/shopping-cart.png"); }
.icon-16x16 .objects-tag:before { content: url("16x16/objects/tag.png"); }
.icon-16x16 .objects-user:before { content: url("16x16/objects/user.png"); }
.icon-16x16 .objects-manager:before { content: url("16x16/objects/manager.png"); }
.icon-16x16 .objects-product:before { content: url("16x16/actions/archive-create.png"); }
.icon-16x16 .objects-map-marker:before { content: url("16x16/objects/maps.png"); }
.icon-16x16 .objects-phone:before { content: url("16x16/objects/internet-telephony.png"); }
.icon-16x16 .objects-mobile:before { content: url("16x16/objects/phone.png"); }
.icon-16x16 .objects-address-book:before { content: url("16x16/objects/x-office-address-book.png"); }
.icon-16x16 .places-folder-bookmarks:before { content: url("16x16/places/folder-bookmarks.png"); }
.icon-16x16 .places-folder:before { content: url("16x16/places/folder.png"); }
.icon-16x16 .places-folder-red:before { content: url("16x16/places/folder-red.png"); }
.icon-16x16 .places-mail-folder-inbox:before { content: url("16x16/places/mail-folder-inbox.png"); }
.icon-16x16 .places-user-home:before { content: url("16x16/places/user-home.png"); }
.icon-16x16 .places-user-trash:before { content: url("16x16/places/user-trash.png"); }
.icon-16x16 .places-user-applications:before { content: url("16x16/places/user-applications.png"); }
.icon-16x16 .places-administrator-applications:before { content: url("16x16/places/administrator-applications.png"); }
.icon-16x16 .status-content-loading:before { content: url("16x16/status/content-loading.png"); }
.icon-16x16 .status-dialog-error:before { content: url("16x16/status/dialog-error.png"); }
.icon-16x16 .status-dialog-information:before { content: url("16x16/status/dialog-information.png"); }
.icon-16x16 .status-dialog-password:before { content: url("16x16/status/dialog-password.png"); }
.icon-16x16 .status-dialog-question:before { content: url("16x16/status/dialog-question.png"); }
.icon-16x16 .status-dialog-warning:before { content: url("16x16/status/dialog-warning.png"); }


/**
 * The symbolic icons are taken from the faience icon theme.
 *
 * Faience is designed and developed by Matthieu James <matthieu.james@gmail.com>.
 * 
 * Faience icons are all licensed under the GPL.
 */
.icon-symbolic .actions-archive-create:before { content: url("symbolic/add-folder-to-archive.png"); }
.icon-symbolic .actions-archive-extract:before { content: url("symbolic/extract-archive.png"); }
.icon-symbolic .actions-arrow-down:before { content: url('symbolic/go-down.png'); }
.icon-symbolic .actions-arrow-down-double:before { content: url('symbolic/go-bottom.png'); }
.icon-symbolic .actions-arrow-left:before { content: url('symbolic/go-previous.png'); }
.icon-symbolic .actions-arrow-left-double:before { content: url('symbolic/go-first.png'); }
.icon-symbolic .actions-arrow-right:before { content: url('symbolic/go-next.png'); }
.icon-symbolic .actions-arrow-right-double:before { content: url('symbolic/go-last.png'); }
.icon-symbolic .actions-arrow-up:before { content: url('symbolic/go-up.png'); }
.icon-symbolic .actions-context-menu:before { content: url('symbolic/view-list-details.png'); }
.icon-symbolic .actions-arrow-up-double:before { content: url('symbolic/go-top.png'); }
.icon-symbolic .actions-article-category-new:before { content: url('symbolic/folder-new.png'); }
.icon-symbolic .actions-article-new:before { content: url('symbolic/file_new.png'); }
.icon-symbolic .actions-article-topic-new:before { content: url('symbolic/add.png'); }
.icon-symbolic .actions-dialog-cancel:before { content: url('symbolic/dialog-no.png'); }
.icon-symbolic .actions-dialog-ok:before { content: url('symbolic/dialog-ok.png'); }
.icon-symbolic .actions-document-edit:before { content: url('symbolic/gtk-edit.png'); }
.icon-symbolic .actions-document-new:before { content: url('symbolic/file_new.png'); }
.icon-symbolic .actions-document-print:before { content: url('symbolic/fileprint.png'); }
.icon-symbolic .actions-document-properties:before { content: url('symbolic/document-properties.png'); }
.icon-symbolic .actions-document-save:before { content: url('symbolic/filesave.png'); }
.icon-symbolic .actions-document-download:before { content: url('symbolic/go-bottom.png'); }
.icon-symbolic .actions-document-upload:before { content: url('symbolic/go-top.png'); }
.icon-symbolic .actions-edit-copy:before { content: url('symbolic/edit-copy.png'); }
.icon-symbolic .actions-edit-cut:before { content: url('symbolic/edit-cut.png'); }
.icon-symbolic .actions-edit-delete:before { content: url('symbolic/window-close.png'); }
.icon-symbolic .actions-edit-find:before { content: url('symbolic/find.png'); }
.icon-symbolic .actions-edit-find-user:before { content: url('symbolic/find.png'); }
.icon-symbolic .actions-edit-paste:before { content: url('symbolic/edit-paste.png'); }
.icon-symbolic .actions-event-new:before { content: url('symbolic/appointment-new.png'); }
.icon-symbolic .actions-folder-new:before { content: url('symbolic/folder-new.png'); }
.icon-symbolic .actions-go-down:before { content: url('symbolic/go-down.png'); }
.icon-symbolic .actions-go-first:before { content: url('symbolic/go-first.png'); }
.icon-symbolic .actions-go-home:before { content: url('symbolic/go-home.png'); }
.icon-symbolic .actions-go-last:before { content: url('symbolic/go-last.png'); }
.icon-symbolic .actions-go-next:before { content: url('symbolic/go-next.png'); }
.icon-symbolic .actions-go-previous:before { content: url('symbolic/go-previous.png'); }
.icon-symbolic .actions-go-up:before { content: url('symbolic/go-up.png'); }
.icon-symbolic .actions-help:before { content: url('symbolic/help-contents.png'); }
.icon-symbolic .actions-list-add:before { content: url('symbolic/list-add.png'); }
.icon-symbolic .actions-list-add-user:before { content: url('symbolic/contact-new.png'); }
.icon-symbolic .actions-list-remove:before { content: url('symbolic/list-remove.png'); }
.icon-symbolic .actions-list-remove-user:before { content: url('symbolic/window-close.png'); }
.icon-symbolic .actions-mail-send:before { content: url('symbolic/mail-message-new.png'); }
.icon-symbolic .actions-note-new:before { content: url('symbolic/file_new.png'); }
.icon-symbolic .actions-set-access-rights:before { content: url('symbolic/locked.png'); }
.icon-symbolic .actions-user-group-delete:before { content: url('symbolic/window-close.png'); }
.icon-symbolic .actions-user-group-new:before { content: url('symbolic/folder-new.png'); }
.icon-symbolic .actions-user-group-properties:before { content: url('symbolic/document-properties.png'); }
.icon-symbolic .actions-user-new:before { content: url('symbolic/contact-new.png'); }
.icon-symbolic .actions-user-properties:before { content: url('symbolic/document-properties.png'); }
.icon-symbolic .actions-view-calendar-day:before { content: url('Puces/schedule.png'); }
.icon-symbolic .actions-view-calendar-list:before { content: url('Puces/schedule.png'); }
.icon-symbolic .actions-view-calendar-month:before { content: url('Puces/schedule.png'); }
.icon-symbolic .actions-view-calendar-timeline:before { content: url('Puces/schedule.png'); }
.icon-symbolic .actions-view-calendar-week:before { content: url('Puces/schedule.png'); }
.icon-symbolic .actions-view-calendar-workweek:before { content: url('Puces/schedule.png'); }
.icon-symbolic .actions-view-history:before { content: url('symbolic/document-open-recent.png'); }
.icon-symbolic .actions-view-list-details:before { content: url('symbolic/view-list-details.png'); }
.icon-symbolic .actions-view-list-text:before { content: url('Puces/txt.gif'); }
.icon-symbolic .actions-view-list-tree:before { content: url('Puces/tree.gif'); }
.icon-symbolic .actions-view-pim-calendar:before { content: url('Puces/calendar.gif'); }
.icon-symbolic .actions-view-pim-journal:before { content: url('Puces/schedule.png'); }
.icon-symbolic .actions-view-pim-mail:before { content: url('Puces/mail.gif'); }
.icon-symbolic .actions-view-pim-news:before { content: url('Puces/schedule.png'); }
.icon-symbolic .actions-view-pim-notes:before { content: url('Puces/note.gif'); }
.icon-symbolic .actions-view-pim-summary:before { content: url('Puces/schedule.png'); }
.icon-symbolic .actions-view-pim-tasks:before { content: url('Puces/schedule.png'); }
.icon-symbolic .actions-view-refresh:before { content: url('symbolic/reload.png'); }
.icon-symbolic .actions-zoom-fit-best:before { content: url('symbolic/zoom-fit.png'); }
.icon-symbolic .actions-zoom-fit-height:before { content: url('symbolic/zoom-fit.png'); }
.icon-symbolic .actions-zoom-fit-width:before { content: url('symbolic/zoom-fit.png'); }
.icon-symbolic .actions-zoom-in:before { content: url('symbolic/zoom-in.png'); }
.icon-symbolic .actions-zoom-original:before { content: url('symbolic/zoom-original.png'); }
.icon-symbolic .actions-zoom-out:before { content: url('symbolic/zoom-out.png'); }
.icon-symbolic .actions-login:before { content: url('symbolic/document-import.png'); }
.icon-symbolic .actions-logout:before { content: url('symbolic/document-export.png'); }

.icon-symbolic .apps-users:before { content: url('symbolic/avatar-default.png'); }
.icon-symbolic .apps-groups:before { content: url('symbolic/stock_people.png'); }


.icon-symbolic .places-user-home:before { content: url('symbolic/go-home.png'); }
.icon-symbolic .places-user-applications:before { content: url('symbolic/system-run.png'); }
.icon-symbolic .places-administrator-home:before { content: url('symbolic/system-upgrade.png'); }
.icon-symbolic .places-administrator-applications:before { content: url('symbolic/system-upgrade.png'); }
.icon-symbolic .places-folder:before { content: url('symbolic/folder.png'); }
.icon-symbolic .places-folder-red:before { content: url('symbolic/folder.png'); }
.icon-symbolic .places-folder-bookmarks:before { content: url('symbolic/folder.png'); }

.icon-symbolic .objects-user:before { content: url('symbolic/avatar-default.png'); }
.icon-symbolic .objects-group:before { content: url('symbolic/stock_people.png'); }
.icon-symbolic .objects-email:before { content: url('symbolic/mail-message-new.png'); }
.icon-symbolic .objects-tag:before { content: url('symbolic/tag.png'); }

/*** Avoid problems with Awesome Icons ***/

[class^="icon-left-"], [class*=" icon-left-"],
[class^="icon-top-"], [class*=" icon-top-"] {
    font-family: inherit;
}

